
<h5 class="delmsg">{{delmsg}}</h5>
<div *ngFor="let item of products; let index = index" class="cproducts">
    <div class="cproduct" [attr.data-key]="index">
      <div class="cimgdiv">
        <img [src]="item.url" [alt]="item.name" />
      </div>
      <div class="cinfodiv">
        <span>{{ item.name }}</span>
        <span>Price: ${{ item.price }}</span>
      </div>
      <button (click)="delete(item.id)">
        remove
      </button>
      <button (click)="buy({
        id: item.id, 
        price: item.price, 
        name: item.name, 
        url: item.url ,
        discription:item.discription,
        category:item.category
      })">
        Buy
      </button>
     
    </div>
  </div>
  
 
  <div *ngIf="!products || products.length === 0" class="cproduct" style="display: flex;justify-content: center;flex-direction: column;">
    <h2 *ngIf="!products || products.length === 0" class="empty">Your cart is empty '-'</h2>
    <button *ngIf="!products || products.length === 0"  class="empty" (click)="gotohome()">shop Now!</button>  
    </div>
  