<div class="product-details-container">
    <div class="product-image">
      <img [src]="product.url" alt="{{product.name}}" />
    </div>
    <div class="product-info">
      <h1>{{ product.name }}</h1>
      <p class="price">$ {{ product.price }}</p>
      <p class="description">{{ product.discription }}</p>
      <p class="category">Category: {{ product.category }}</p>
      
      <div class="product-buttons">
        <button (click)="addtocart({
          id: product.id, 
          price: product.price, 
          name: product.name, 
          url: product.url,
          discription: product.discription,
          category: product.category
        })">Add to Cart</button>
        <button (click)="buy({
          id: product.id, 
          price: product.price, 
          name: product.name, 
          url: product.url,
          discription: product.discription,
          category: product.category
        })">
          Buy
        </button>
        <button class="back-button" (click)="goBack()">Back</button>
      </div>
    </div>
  </div>
  
  <div class="products">
    <div class="product" *ngFor="let product of searchResults">
      <div class="imgdiv">
        <img [src]="product.url" [alt]="product.name" />
      </div>
      <div class="infodiv">
        <span class="product-name">{{ product.name }}</span>
        <span class="product-price">Price: ${{ product.price }}</span>
        <p class="product-description">{{ product.discription }}</p>
        <div class="product-buttons">
          <button (click)="addtocart({
            id: product.id, 
            price: product.price, 
            name: product.name, 
            url: product.url,
            discription: product.discription,
            category: product.category
          })">Add to Cart</button>
          <button (click)="details(product.id)">View Details</button>
        </div>
      </div>
    </div>
  </div>
  